:root {
  --primary: #2653ad;
  --secondary: #94c700;
  --font-stack: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: white;
  scroll-behavior: smooth;
  overflow-y: scroll;
  width: 100vw;
}

body {
  width: 100%;
  height: auto;
}
a {
  text-decoration: None;
}

.navbar {
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 101;
}

.hero-section {
  padding-top: 50px;
  margin-bottom: 100px;
}

.navbar-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
  z-index: 55;
}

.nav-title {
  color: black;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.inner-navbar {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}

.inner-navbar-kg {
  width: 900px;
}

.inner-navbar-kg a {
  font-family: var(--font-stack);
  color: #707070;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.inner-navbar a {
  font-family: var(--font-stack);
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.inner-navbar a:hover {
  color: var(--primary);
}

.inner-navbar p {
  font-family: var(--font-stack);
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.inner-navbar p:hover {
  color: var(--primary);
}

.nav-button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
  font-family: var(--font-stack);
  font-weight: 600;
  cursor: pointer;
}

.glide2 {
  width: 100%;
}

.menu-wrapper {
  display: none;
  position: fixed;
  right: 40px;
  width: 70px;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  .menu-wrapper {
    position: static;
  }
}

.menu-wrapper .toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;
  cursor: pointer;
  opacity: 0;
}

.menu-wrapper .hamburger {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}

.menu-wrapper .hamburger .bar {
  position: relative;
  width: 100%;
  height: 4px;
  background: var(--primary);
  z-index: 5;
  transition: all 0, 2s linear;
  -webkit-transition: all 0, 2s linear;
  -moz-transition: all 0, 2s linear;
  -ms-transition: all 0, 2s linear;
  -o-transition: all 0, 2s linear;
}

.menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 4px;
  background: var(--primary);

  transition: all 0, 2s linear;
  -webkit-transition: all 0, 2s linear;
  -moz-transition: all 0, 2s linear;
  -ms-transition: all 0, 2s linear;
  -o-transition: all 0, 2s linear;
}

.menu-wrapper .hamburger .bar::after {
  top: 10px;
}

.menu-wrapper .toggle:hover + .hamburger {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu-wrapper .toggle:checked + .hamburger {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-wrapper .toggle:checked:hover + .hamburger {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.menu-wrapper .toggle:checked + .hamburger .bar::before,
.menu-wrapper .toggle:checked + .hamburger .bar::after {
  top: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  background: rgba(25, 25, 25, 0.85);
  z-index: 500;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  color: white;
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  margin: 0;
  cursor: pointer;
  box-sizing: 15px;
  border-bottom: 2px solid transparent;
  margin-top: 10px;
  font-family: var(--font-stack);
}

.menu ul li:hover {
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.menu-wrapper .toggle:checked + .hamburger + .menu {
  opacity: 1;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 910px) {
  .inner-navbar {
    width: 400px;
  }
}

@media only screen and (max-width: 1220px) {
  .inner-navbar-kg .inner-nav-a {
    display: none;
  }

  .menu-wrapper {
    display: block;
    width: 30px;
  }
}

@media only screen and (max-width: 1260px) {
  .inner-navbar .inner-nav-a {
    display: none;
  }

  .lang-dropdown {
    margin-right: 10px;
    margin-top: 10px;
  }

  .inner-navbar {
    width: auto;
  }

  .menu-wrapper {
    display: block;
    width: 30px;
  }
}

.image-section {
  width: 100%;
  /* height: auto !important */
}

.image-section-wrapper {
  width: 100%;
  position: relative;
  height: 90vh !important;
  /* background: black; */
  overflow: hidden;
  /* color: white; *
  /* z-index: -10; */
  background-size: cover !important;
  background-position: center;
}

.logo-slider-wrapper {
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
  /* margin-top: 50px; */
  margin: 0 auto;
}

.logo-wrapper {
  width: 300px !important;
  display: flex;
  align-items: center;
  justify-items: center;
}

.logo-wrapper img {
  width: 200px !important;
  height: 120px !important;
  object-fit: scale-down;
}

@media only screen and (max-width: 530px) {
  .logo-wrapper img {
    width: 150px !important;
    height: 150px !important;
  }
}

@media only screen and (max-width: 520px) {
  .logo-wrapper img {
    width: 120px !important;
    height: 100px !important;
  }

  .hero-section {
    margin-bottom: 50px;
  }
}

.darken-pseudo {
  position: relative;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .image-section-wrapper img{
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
} */

.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 200px;
  left: 180px;
  max-width: 1700px;
  /* padding: 0 65px; */
  width: 100%;
  /* height: 350px; */
  height: auto;
  /* transform: translate(-50%, -50%); */
}

.hero-text h1 {
  margin-bottom: 20px;
}

.hero-text h2 {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1950px) {
  .hero-text {
    left: 150px;
  }
}

@media only screen and (max-width: 1860px) {
  .hero-text {
    left: 120px;
  }
}

@media only screen and (max-width: 1820px) {
  .hero-text {
    left: 100px;
  }
}

@media only screen and (max-width: 1575px) {
  .navbar-wrapper {
    width: 100%;
    padding: 0 65px;
  }

  .hero-text {
    top: 140px;
  }
}

@media only screen and (max-width: 900px) {
  .hero-text {
    left: 80px;
  }

  .hero-text h2 {
    margin-bottom: 35px;
  }
}

.hero-text h1 {
  font-size: 24px;
  color: white;
  font-family: var(--font-stack);
}

.hero-text h2 {
  font-size: 16px;
  color: white;
  font-family: var(--font-stack);
}

.mission-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.mission-info {
  width: 75%;
  max-width: 1100px;
  display: flex;
  margin: 50px auto 0;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.mission-info-text {
  display: flex;
  margin-right: 15px;
  white-space: pre-line;
}

.mission-info-text p {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-stack);
  color: black;
  text-align: start;
}

.blue-square {
  margin-right: 20px;
  margin-top: 4px;
}

.goals-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1205px;
}

.our-team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 50px auto;
  max-width: 1800px;
}

.workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto 100px;
  max-width: 1205px;
}

.complaint-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px auto 0;
  max-width: 1205px;
  margin-bottom: 100px;
}

.documents-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 80px auto 0;
  max-width: 1205px;
  z-index: -20;
}

.principles-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto !important;
  max-width: 1205px !important;
}

.principles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73%;
  margin: 50px auto 0;
  flex-wrap: wrap;
}

.single-principle {
  width: 290px !important;
  height: 244px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2); */
  margin: 0 15px !important;
}

.single-principle svg {
  margin-bottom: 30px;
}

.single-principle p {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-family: var(--font-stack);
}

.goals {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 55px;
}

.single-goal {
  width: 380px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.single-goal-image {
  width: 380px;
  height: 190px;
}

.single-goal-text {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.single-goal-text p {
  text-align: start;
  font-size: 18px;
  font-family: var(--font-stack);
  color: black;
  font-weight: 600;
}

.main-news-text {
  padding: 15px;
  margin-bottom: 20px;
}

.main-news-text p {
  text-align: start;
  font-size: 16px;
  font-family: var(--font-stack);
  color: black;
  font-weight: 600;
  margin-top: 10px;
}

#second-goal-text {
  align-items: flex-start;
  padding-top: 30px;
}

#first-goal {
  background-image: url('images/discussion.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#second-goal {
  background-image: url('images/work-space.jpg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
}

#third-goal {
  background-image: url('images/corruptioin.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 15%;
  background-size: cover;
}

.svg-icon {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -7;
}

.mission-icon h2 {
  font-size: 32px;
  color: black;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 14px;
}

.mission-info-image {
  width: 550px;
  height: 328px;
  background-image: url('images/white-generator.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.about-company {
  max-width: 1300px;
  width: 65%;
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
}

.about-company-text {
  width: 80%;
  margin-left: 15px;
  white-space: pre-line;
}

.about-company-text p {
  font-size: 18px;
  color: black;
  font-family: var(--font-stack);
  font-weight: 600;
}

.blue-title {
  color: #2653ad;
}

.worker {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 45px;
  margin: 15px 15px;
  height: auto;
}

.question {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 45px;
  height: auto;
  width: 600px;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question div {
  width: 100%;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-wrapper p {
  font-size: 18px;
  font-family: var(--font-stack);
  font-weight: 600;
  max-width: 430px;
}

.faq-dropdown {
  background-color: white;
  cursor: pointer;
}

.faq-dropdown:hover {
  opacity: 0.7;
}

.worker-wrapper {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0 60px;
  width: 760px;
  height: 210px;
  align-items: center;
}

.worker button svg {
  height: 50px;
  width: 50px;
}

.worker button {
  background-color: white;
  cursor: pointer;
  position: relative;
}

.worker button:hover {
  opacity: 0.7;
}

.about-worker {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  height: auto;
  align-items: center;
}

.question-answer {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  height: auto;
  align-items: center;
}

.documents-set {
  display: flex;
  width: 90%;
  max-width: 988px;
  margin: 50px auto 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-document {
  width: 480px;
  /* height: 110px; */
  height: auto;
  padding: 15px 0;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0 6px 40px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-document p {
  font-size: 16px;
  color: var(--primary);
  font-family: var(--font-stack);
  font-weight: 600;
  margin-left: 30px;
  max-width: 290px;
}

.single-document svg {
  margin-left: 5px;
}

@media only screen and (max-width: 1366px) {
  .documents-set {
    max-width: 1200px;
    width: 95%;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1024px) {
  .documents-section {
    width: 70%;
  }

  .single-document {
    width: 100%;
  }

  .single-document p {
    max-width: 500px;
  }
}

@media only screen and (max-width: 925px) {
  .single-document p {
    max-width: 290px;
  }
}

@media only screen and (max-width: 700px) {
  .single-document {
    height: 100px;
    box-sizing: border-box;
  }

  .single-document p {
    font-size: 11px;
    max-width: 250px;
  }

  .single-document svg {
    width: 35px;
    height: auto;
    margin-right: 25px;
  }

  .documents-section {
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .single-document p {
    margin-left: 20px;
  }

  .single-document svg {
    width: 25px;
    height: auto;
  }

  .single-document {
    height: 120px;
    box-sizing: border-box;
    padding: 15px 0;
  }

  .single-document p {
    max-width: 200px;
  }
}

.worker .about-worker {
  /* position: absolute;
  transform-origin: center;
  overflow: hidden;
  width: 100px;
  display: none;
  padding: 50px; */
  width: 760px;
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: block;
  height: auto;
  opacity: 1;
  display: block;
}

.question .question-answer {
  display: none;
}

.question .question-answer.active {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  /* padding: 50px; */
  padding-top: 50px;
  display: block;
  height: auto;
  opacity: 1;
  display: block;
}

.worker .about-worker li a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.about-worker-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.question-answer-wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.question-answer-wrapper p {
  font-size: 16px;
  font-family: var(--font-stack);
  color: black;
  font-weight: 600;

  white-space: pre-line;
}

.about-worker-wrapper div svg {
  margin-right: 20px;
}

.about-worker p {
  font-size: 16px;
  font-family: var(--font-stack);
  color: black;
  font-weight: 600;
  white-space: pre-line;
  text-align: left;
}

.worker-image {
  display: inline-block;
  height: 146px;
  width: 146px;
  border-radius: 48%;
  -webkit-border-radius: 48%;
  -moz-border-radius: 48%;
  -ms-border-radius: 48%;
  -o-border-radius: 48%;
  background-repeat: no-repeat;
  /* background-position: top; */
  background-size: cover;
}

.worker-title {
  display: flex;
  flex-direction: column;
  /* height: 64px; */
  width: 220px;
  justify-content: space-around;
}

.worker-title h1 {
  font-size: 22px;
  font-size: 600;
  color: black;
  font-family: var(--font-stack);
  margin-bottom: 10px;
}

.worker-title p {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  font-family: var(--font-stack);
}

.svg-icon svg {
  z-index: -7;
}

.dark-shadow {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.svg-icon h1 {
  font-size: 32px;
  color: black;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  font-weight: 600;
}

@media only screen and (max-width: 1800px) {
  .worker-wrapper {
    width: 660px;
  }
}

@media only screen and (max-width: 1540px) {
  .our-team-section {
    width: 95%;
  }

  .worker-wrapper {
    width: 560px;
  }

  .worker .about-worker {
    width: 560px;
  }

  .worker-image {
    height: 100px;
    width: 100px;
  }

  .worker-wrapper button svg {
    width: 40px;
    height: 40px;
  }

  .worker-title h1 {
    font-size: 21px;
  }

  .worker-title p {
    font-size: 16px;
  }

  .about-worker p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 760px) {
  .svg-icon h1 {
    font-size: 28px;
  }

  .mission-icon h2 {
    font-size: 28px;
  }

  .mission-icon svg {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .svg-icon h1 {
    font-size: 20px;
  }

  .mission-icon h2 {
    font-size: 20px;
  }

  .mission-icon svg {
    width: 30px;
    height: 30px;
  }

  .about-company div svg {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 1500px) {
  .mission-info {
    width: 75%;
  }
}

.main-new {
  cursor: pointer;
  margin: 0 15px;
}

@media only screen and (max-width: 1310px) {
  .single-goal {
    width: 300px;
  }

  .single-goal-image {
    width: 300px;
  }

  .goals {
    justify-content: space-around;
  }

  .single-goal-text p {
    font-size: 16px;
  }
  .main-news-text p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1200px) {
  .image-section-wrapper {
    height: 600px !important;
  }

  .image-section {
    height: auto !important;
  }
}

@media only screen and (max-width: 850px) {
  .worker-wrapper {
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .worker-title {
    text-align: center;
  }

  .worker-image {
    margin-bottom: 20px;
  }

  .worker-wrapper h1 {
    font-size: 18px;
  }

  .worker .about-worker {
    width: 100%;
    padding: 20px;
  }

  .about-worker-wrapper div svg {
    display: none;
  }

  .faq-section {
    margin: 50px auto 50px;
  }

  .worker {
    width: 100%;
    height: auto;
  }

  .worker-wrapper {
    padding: 20px;
  }

  .worker-wrapper p {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 765px) {
  .question {
    width: 100%;
    padding: 40px 20px;
  }

  .question-wrapper p {
    font-size: 14px;
  }

  .question-answer-wrapper p {
    font-size: 12px !important;
  }

  .question .question-answer.active {
    padding: 0;
    padding-top: 20px;
  }

  .question-wrapper svg {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1120px) {
  .principles {
    justify-content: center;
  }

  .single-principle {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 1170px) {
  .principles {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .principles {
    width: 53%;
  }
}

@media only screen and (max-width: 650px) {
  .principles {
    width: 40%;
  }
}

@media only screen and (max-width: 450px) {
  .single-principle {
    width: 162px !important;
    height: 175px !important;
    margin-bottom: 20px !important;
    margin: 0 15px !important;
  }

  .single-principle p {
    font-size: 12px !important;
  }

  .single-principle svg {
    width: 90px !important;
    height: 90px !important;
  }
}

@media only screen and (max-width: 364px) {
  .single-principle {
    width: 250px;
    height: 250px;
  }

  .single-principle p {
    font-size: 16px;
  }

  .principles {
    width: 50%;
  }
}

@media only screen and (max-width: 1075px) {
  .goals {
    flex-direction: column;
    align-items: center;
  }

  .single-goal {
    margin-bottom: 40px;
  }

  .single-goal {
    width: 380px;
  }

  .single-goal-image {
    width: 380px;
  }

  .single-goal-text p {
    font-size: 14px;
    width: 100%;
  }

  .single-goal-text {
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  .about-company {
    width: 90%;
  }

  .about-company-text {
    width: 100%;
  }

  .about-company-text p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1252px) {
  .mission-info-text {
    height: auto;
    width: 580px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .mission-info-image {
    width: 500px;
    height: 290px;
  }

  .mission-info-text div {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .mission-info {
    width: 85%;
  }

  .goals-section {
    width: 90%;
  }
}

@media only screen and (max-width: 1119px) {
  .mission-info {
    width: 90%;
  }

  .mission-info-text {
    margin-top: 30px;
  }

  .mission-info-text div .blue-square {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .image-section-wrapper {
    height: auto;
    object-position: left;
  }

  .hero-text {
    width: 55%;
  }
  .hero-text h1 {
    margin-bottom: 20px;
  }

  .hero-text h2 {
    margin-bottom: 15px;
  }

  .nav-button {
    margin-top: 10px;
    width: 130px;
    height: 35px;
    font-size: 12px;
  }

  .image-section {
    height: auto !important;
  }

  .hero-text {
    top: 120px;
    /* height: 290px; */
  }

  .hero-text h1 {
    font-size: 18px;
  }

  .hero-text h2 {
    font-size: 14px;
  }

  .mission-info-text {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .hero-text {
    width: 70%;
  }

  .image-section-wrapper img {
    object-fit: cover;
    object-position: center;
  }

  .mission-info-text p {
    font-size: 12px;
  }

  .mission-info-text {
    margin-bottom: 50px;
    padding: 0 5px;
  }
}

@media only screen and (max-width: 400px) {
  .mission-info-image {
    width: 325px;
    height: 213px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .about-company-text p {
    font-size: 12px;
  }

  .about-company {
    flex-direction: column;
    margin-top: 45px;
  }

  .about-company-text {
    margin-left: 2px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .hero-text {
    left: 45px;
  }

  .navbar-wrapper {
    padding: 0 25px;
  }
  .nav-title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .hero-text {
    top: 105px;
    width: 80% !important;
    left: 25px;
    /* height: 240px; */
  }

  .single-goal-text {
    padding: 0 5px;
  }

  /* .hero-text h2{
      font-size: 11px;
  } */

  .single-goal {
    width: 325px;
  }

  .single-goal-image {
    width: 325px;
  }

  .single-goal-text p {
    font-size: 12px;
    width: 100%;
  }

  .main-news-text p {
    font-size: 12px;
    width: 100%;
  }

  .single-goal-text {
    padding: 20px;
    align-items: center;
  }
}

@media only screen and (max-width: 380px) {
  .hero-text {
    height: auto;
    width: 80%;
  }

  .single-goal {
    width: 285px;
  }

  .single-goal-image {
    width: 285px;
  }
}

.complaint-section {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.complaint-image-section {
  width: 100%;
}

.complaint-image-section-wrapper {
  width: 100%;
  position: relative !important;
  height: 70vh !important;
  overflow: hidden;
  /* z-index: -10; */
  background-size: cover !important;
  background-position: center;
  padding: 20px 0 0;
  box-sizing: border-box !important;
}

@media only screen and (max-width: 1200px) {
  .complaint-image-section-wrapper {
    height: 500px !important;
  }

  .complaint-image-section {
    height: auto;
  }

  .complaint-text div svg {
    display: none;
  }
}

.darken-pseudo-complaint {
  position: relative;
}

.darken-pseudo-complaint:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
}

.complaint-text div svg {
  margin-right: 25px;
  margin-top: 5px;
  width: 100px;
  height: 20px;
}

.complaint-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 480px;
  height: auto;
  bottom: 25%;
  margin-left: 7%;
  z-index: 100;
}

.complaint-text h1 {
  font-size: 22px;
  color: white;
  font-family: var(--font-stack);
  font-weight: 600;
  margin-bottom: 20px;
}

.complaint-text p {
  font-size: 16px;
  color: white;
  font-family: var(--font-stack);
  font-weight: 600;
  margin-bottom: 20px;
}

.complaint-text a {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--primary);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-stack);
  text-decoration: none;
}

.complaint-image {
  width: 495px;
  height: 337px;
  background-image: url('images/complaint.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 15px;
}

@media only screen and (max-width: 1133px) {
  .complaint-text {
    width: auto;
    height: auto;
  }

  .complaint-wrapper {
    height: 90%;
    align-items: flex-start;
    justify-content: center;
  }

  .complaint-image {
    background-position: unset;
  }
}

@media only screen and (max-width: 1160px) {
  .complaint-wrapper svg {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .complaint-text {
    margin-right: 10%;
  }

  .complaint-text h1 {
    font-size: 18px;
  }

  .complaint-text p {
    font-size: 14px;
  }

  .complaint-text a {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }

  .complaint-image {
    margin: 0;
  }

  .complaint-wrapper a {
    width: 160px;
    height: 40px;
    font-size: 12px;
  }

  .complaint-image {
    width: 350px;
    height: 200px;
  }

  .complaint-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

footer {
  width: 100%;
  height: auto;
  padding-top: 80px;
  margin-bottom: 80px;

  -webkit-box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.1);
}

.footer-wrapper {
  max-width: 1100px;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-div {
  display: flex;
  width: 50%;
}

.footer-div:nth-child(2) {
  margin-left: 5px;
}

@media only screen and (max-width: 865px) {
  .footer-div {
    flex-direction: column;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.footer-links li {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-family: var(--font-stack);
  margin-bottom: 15px;
}
.footer-links li a {
  color: black;
}
.footer-links li a:hover {
  color: var(--primary);
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 45%;
  align-items: flex-end;
}

footer p {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-family: var(--font-stack);
}

.social-medias {
  display: flex;
  margin-top: 15px;
  width: 200px;
  /* margin-left: auto; */
  justify-content: space-between;
}

.social-medias svg {
  cursor: pointer;
}

.all-rights {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-complaint {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  align-items: flex-end;
  margin-top: 30px;
}

.footer-complaint a:nth-child(1) {
  width: 175px;
  height: 50px;
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-square {
  margin-right: 15px;
}

@media only screen and (max-width: 1211px) {
  .footer-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 865px) {
  footer {
    margin-bottom: 50px;
    height: auto;
  }

  footer p {
    font-size: 14px;
  }

  .footer-square {
    width: 14px;
    height: 14px;
  }

  .footer-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: auto;
    justify-content: space-between;
  }

  .footer-square {
    margin-bottom: 15px;
  }

  .footer-links {
    width: auto;
    height: auto;
    margin-bottom: 40px;
  }

  .footer-links li {
    font-size: 14px;
  }

  .footer-social-media {
    width: auto;
    height: auto;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .social-medias {
    justify-content: flex-start;
    margin-left: 0;
  }

  .all-rights {
    width: auto;
    height: auto;
  }

  .footer-complaint {
    width: auto;
    align-items: flex-start;
  }

  .footer-complaint a {
    width: 162px;
    height: 40px;
  }

  .social-medias svg {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .about-company {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .mission-section {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .about-company {
    margin-top: 20px;
  }

  .principles-section {
    margin-top: 50px;
  }

  .documents-section {
    margin-top: 50px;
  }
}

.standart_p {
  font-size: 16px;
  font-family: var(--font-stack);
  font-weight: 600;
}

.description img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_cases_switcher {
  width: 530px;
  height: 50px;
  border: 2px solid var(--primary);
  margin: 30px auto 0;
  display: flex;
}

.news_switcher {
  width: 50%;
  height: 100%;
  background-color: white;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.news_switcher:hover {
  opacity: 0.9;
}

.news_switcher_active {
  background-color: var(--primary);
  color: white;
}

.cases_switcher {
  width: 50%;
  height: 100%;
  background-color: white;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--primary);
}

.cases_switcher_active {
  background-color: var(--primary);
  color: white;
}

.cases_switcher:hover {
  opacity: 0.9;
}

.news_cases_content {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.news_cases_content a {
  font-size: 16px;
  font-family: var(--font-stack);
  font-weight: 600;
}

.news-section {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.main-news-section {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.cases-section {
  width: 65%;
  display: none;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.single-new {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 0;
}

.single-new .single-new-date {
  color: #4d4d4d;
  margin: 10px 0;
}

.single-new .single-new-title {
  color: black;
  font-size: 18px;
}

.single-new-title a {
  color: var(--primary);
  text-decoration: None;
}

.single-new .single-new-text {
  color: black;
  white-space: pre-line;
  text-align: left;
}

.single-new-text p {
  margin-bottom: 15px;
}

.single-case {
  box-sizing: border-box;
  padding: 30px 0;
}

.single-case-image {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.single-new-image {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 15px;
  justify-self: flex-start;
}

@media only screen and (max-width: 1024px) {
  .news_cases_switcher {
    width: 400px;
    height: 50px;
    border: 2px solid var(--primary);
    margin: 30px auto 0;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .news-section {
    width: 80%;
  }

  .main-news-section {
    width: 80%;
  }

  .cases-section {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .news_cases_content {
    margin-top: 0px;
  }

  .single-new-image {
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .standart_p {
    font-size: 14px;
    font-family: var(--font-stack);
    font-weight: 600;
  }

  .single-new-title {
    font-size: 16px;
  }

  .news_cases_switcher {
    width: 280px;
  }

  .news-section {
    width: 85%;
  }

  .main-news-section {
    width: 85%;
  }

  .cases-section {
    width: 85%;
  }
}

.below_z_index {
  z-index: -7;
}

.complaint-form-wrapper {
  width: 650px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.complaint-form-icon {
  margin-bottom: 50px;
}

.complaint-form {
  width: 100%;
}

.complaint-form label.standart_p {
  width: 100%;
  display: inline-block;
  margin-top: 30px;
}

.complaint-form select {
  border: 1px solid #707070;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: relative;
}

.dropdown {
  width: 30px;
  height: 30px;
  position: absolute;
}

.complaint-form select:focus {
  border: 1px solid #2653ad;
}

.description-input {
  height: 140px !important;
  padding: 0 10px !important;
}

.documents-input-wrapper {
  display: flex;
  width: 55%;
  flex-wrap: wrap;
}

.file-upload-filename {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2653ad;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}

.checkbox-input {
  width: 20px !important;
  height: 20px !important;
  display: block;
}

#file-upload {
  margin: 0 !important;
}

@media only screen and (max-width: 550px) {
  .complaint-form-wrapper {
    width: 100%;
  }

  .documents-input-wrapper {
    width: 100%;
  }
}

.drop-active {
  display: block;
}

.drop-deactive {
  display: none;
}

.input-radio {
  display: inline-block;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  margin-right: 5px !important;
  margin-top: 5px !important;
}

.input-radio-wrapper {
  display: flex;
  margin-top: 20px;
}

.form-header {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-family: var(--font-stack);
  font-weight: 600;
  margin-top: 50px;
  font-size: 28px;
}

@media only screen and (max-width: 760px) {
  .form-header {
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  .form-header {
    font-size: 20px;
  }
}
html {
  scroll-behavior: smooth;
}

.form-button {
  width: 30%;
  height: 50px;
  background-color: var(--primary);
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-stack);
  margin-top: 50px;
  cursor: pointer;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  margin: 20px 0;
  padding: 10px;
  margin-left: 2px;
}
.remove-btn {
  background-color: #bc3a3a;
  margin-left: 20px;
  color: white;
  padding: 10px;
}

.deactive {
  display: none !important;
}

.disabled-btn {
  opacity: 0.7;
}

.active-btn:hover {
  opacity: 0.8;
}

.target-org-name {
  height: 50px !important;
}

.expanded-input {
  text-align: start;
  height: 150px !important;
}

.complaint-description {
  height: 250px !important;
}

.other_activity {
  height: 250px !important;
}

.eligibility-section {
  width: 60%;
  height: auto;
  margin: 50px auto;
  display: flex;
}

.eligibility-section-en {
  width: 60%;
  height: auto;
  margin: 50px auto;
  display: flex;
}

.eligibility-section div img {
  object-fit: contain;
}

.eligibility-section h1 {
  color: var(--primary);
  font-weight: 600;
  font-family: var(--font-stack);
  font-size: 28px;
}

#eligibility-footer {
  width: 80%;
}

.eligibility-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.eligibility-wrapper-en {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
}

.eligibility-img-wrapper {
  margin-top: 150px;
  height: 700px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.eligibility-img-wrapper-en {
  margin-top: 150px;
  height: 700px;
  width: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 2192px) {
  .eligibility-img-wrapper {
    width: 280px;
  }

  .eligibility-img-wrapper-en {
    width: 300px;
  }
}

.eligibility-wrapper p {
  color: black;
  font-weight: 600;
  font-family: var(--font-stack);
  font-size: 18px;
  width: 70%;
}

@media only screen and (max-width: 1650px) {
  .eligibility-img-wrapper {
    margin-top: 150px;
    height: 700px;
    width: 400px;
  }

  .eligibility-img-wrapper-en {
    margin-top: 50px;
    height: 700px;
    width: 400px;
  }
  .eligibility-wrapper-en p {
    width: 100%;
  }
}

@media only screen and (max-width: 1273px) {
  .eligibility-img-wrapper {
    margin-top: 150px;
    height: 700px;
    width: 550px;
  }

  .eligibility-section-en {
    width: 80%;
  }
}

@media only screen and (max-width: 999px) {
  .eligibility-section {
    width: 80%;
  }

  .eligibility-img-wrapper {
    margin-top: 150px;
    height: 700px;
    width: 480px;
  }
}

@media only screen and (max-width: 999px) {
  .eligibility-wrapper h1 {
    font-size: 18px;
  }

  .eligibility-wrapper p {
    font-size: 16px;
  }

  .eligibility-img-wrapper {
    margin-top: 150px;
    height: 680px;
    width: 480px;
  }
}

@media only screen and (max-width: 750px) {
  .eligibility-img-wrapper {
    margin-top: 80px;
    height: 600px;
    width: 450px;
  }

  .eligibility-wrapper {
    height: auto;
  }
}

.eligibility-phone-section {
  width: 100%;
  margin: 20px auto;
  display: none;
}

@media only screen and (max-width: 700px) {
  .eligibility-phone-section {
    display: block;
    height: 1000px;
  }

  .eligibility-section {
    display: none;
  }
}

@media only screen and (max-width: 570px) {
  .eligibility-phone-section {
    height: 800px;
  }
}

@media only screen and (max-width: 500px) {
  .eligibility-phone-section {
    margin-top: 50px;
    height: 700px;
  }
}

@media only screen and (max-width: 400px) {
  .eligibility-phone-section {
    height: 650px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 325px) {
  .eligibility-phone-section {
    height: 600px;
  }
}

.eligibility-phone-wrapper {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 200px;
  height: 50px;
  display: inline-block;
  margin-top: 5px;
}

.lang-logo {
  width: 60px;
}

.lang-logo p {
  width: 100%;
  color: #707070 !important;
  text-align: center;
}

.lang-logo p:hover {
  color: var(--primary) !important;
}

.lang-logo img {
  object-fit: contain;
  width: 50%;
}

.logo img {
  object-fit: contain;
  width: 100%;
}

.lang-logo svg {
  object-fit: contain;
  width: 50%;
}

.logo svg {
  object-fit: contain;
  width: 100%;
}

.langs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
}

#mobile-langs {
  display: none;
}

@media only screen and (max-width: 1260px) {
  #mobile-langs {
    display: block;
    margin-right: 15px;
    height: auto;
  }
}

.lang-dropdown {
  position: relative;
  display: inline-block;
  height: 35px;
}

.lang-dropdown p {
  font-size: 14px;
  font-family: var(--font-stack);
  color: #2653ad;
  font-weight: 600;
}

.lang-dropdown img {
  margin-left: 10px;
}

.langs-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0 auto;
  width: 70px;
  box-sizing: border-box;
  padding: 5px;
}

.lang-dropdown-btn {
  background-color: transparent;
  cursor: pointer;
}

.lang-dropdown-btn:hover {
  opacity: 0.7;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  #mobile-langs {
    display: block;
    margin-right: 50px;
  }

  .navbar {
    height: 70px;
  }

  .lang-dropdown {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 540px) {
  .lang-dropdown {
    margin-top: 0;
  }
}

.langs a {
  display: block;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 100px;
    height: auto;
    margin-top: 10px;
  }
}

.custom-file-input {
  /* color: transparent; */
  color: #2653ad;
  border: none !important;
  padding: 1px 0 !important;
  -webkit-writing-mode: horizontal-tb !important;
  width: 100%;
  margin-top: 10px !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Выберите файл';
  color: white;
  text-align: center;
  display: inline-block;
  background-color: var(--primary);
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  outline: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 14px;
  width: 80px;
}

.custom-file-input-en {
  /* color: transparent; */
  color: #2653ad;
  border: none !important;
  padding: 1px 0 !important;
  -webkit-writing-mode: horizontal-tb !important;
  width: 100%;
  margin-top: 10px !important;
}

.custom-file-input-en::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-en::before {
  content: 'Choose file';
  color: white;
  text-align: center;
  display: inline-block;
  background-color: var(--primary);
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  outline: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
}

.custom-file-input-kg {
  color: #2653ad;
  border: none !important;
  padding: 1px 0 !important;
  -webkit-writing-mode: horizontal-tb !important;
  width: 100%;
  margin-top: 10px !important;
}

.custom-file-input-kg::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-kg::before {
  content: 'Файлды тандаңыз';
  color: white;
  text-align: center;
  display: inline-block;
  background-color: var(--primary);
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  outline: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 14px;
  width: 80px;
}
/*
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
} */

.icon-btn-delete {
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  background: #ff4444;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  color: white;
  margin-top: 20px;
}

.delete-btn:hover {
  width: 120px;
}
.delete-btn::before,
.delete-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: white;
}
.delete-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.delete-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.delete-btn:hover::before,
.delete-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.delete-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: white;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.delete-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.delete-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.icon-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  background: #4caf50;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  margin-top: 15px;
  color: white;
}
.add-btn:hover {
  width: 130px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  width: 14px;
  top: calc(50% - 2px);
  background: white;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  height: 20px;
  width: 4px;
  top: calc(50% - 10px);
  background: white;
  overflow: hidden;
}
.add-icon::before {
  left: 42px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 16.8px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-image-button:hover {
  opacity: 0.8;
}

table {
  padding: 0 !important;
  border-collapse: collapse !important;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

label.error {
  color: #ff4444;
}

.swal2-confirm {
  background-color: var(--primary) !important;
}

.swal2-title {
  font-family: var(--font-stack);
}

.swal2-content {
  font-family: var(--font-stack);
  text-align: start !important;
}

.ebbr_logo {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 35px;
}

#logo-glide {
  width: 420px;
  margin-top: 20px;
}

.logo-slide-p {
  font-size: 16px;
  /* margin-top: 50px; */
  width: 100%;
  font-weight: 600;
  text-align: end;
  font-family: var(--font-stack);
  margin-bottom: 20px;
}

@media only screen and (max-width: 1199px) {
  .logo-slide-p {
    text-align: start;
    margin-left: 35px;
  }
}

@media only screen and (max-width: 865px) {
  .logo-slide-p {
    margin-left: 0;
  }

  .footer-div {
    width: auto;
  }

  .footer-complaint {
    margin-top: 20px;
  }

  .footer-links {
    margin-bottom: 0;
  }

  .ebbr_logo {
    margin-left: 0;
  }
}

.error {
  font-family: var(--font-stack) !important;
}

@media only screen and (max-width: 500px) {
  .logo-slide-p {
    font-size: 14px;
  }
}

.rights {
  margin-left: 35px;
}

@media only screen and (max-width: 865px) {
  .ebbr_logo {
    margin-left: 0;
  }

  .rights {
    margin-left: 0;
  }
}

@media only screen and (max-width: 520px) {
  .ebbr_logo {
    width: 100px;
    height: 100px;
  }

  #logo-glide {
    width: 250px !important;
  }
}

@media only screen and (max-width: 450px) {
  .complaint-text {
    top: 15%;
  }
}

.slick-track {
  display: flex !important;
  align-items: center !important;
}

.swal-title {
  font-family: 'Open Sans', sans-serif;
}

.swal-text {
  font-family: 'Open Sans', sans-serif;
}

.not_found {
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_found h1 {
  font-size: 48px;
  color: black;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 14px;
}

.not_found h2 {
  font-size: 28px;
  color: black;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 14px;
}

.home_news_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0;
}

@media (max-width: 1320px) {
  .home_news_section {
    justify-content: center;
  }
}

.main_news_card {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.main_news_card img {
  width: 100%;
  height: auto;
}

.main_news_card_title {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  max-width: 550px;
  width: 100%;
  margin: 10px auto 0;
  font-family: var(--font-stack);
  font-weight: 600;
}
@media (max-width: 865px) {
  .main_news_card_title {
    font-size: 14px;
  }
}

.main_news_card p:first-child {
  font-size: 16px;
  color: #4d4d4d;
  text-align: left;
  font-family: var(--font-stack);
  font-weight: 600;
  margin-bottom: 10px;
}

.home_news_list {
  display: flex;
  flex-direction: column;
  width: 47%;
}

@media (max-width: 1320px) {
  .home_news_list {
    width: 100%;
    max-width: 600px;
  }
}

.single_home_new {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 0 0;
}

.single_home_new_date {
  color: #4d4d4d;
  margin: 10px 0;
  font-size: 14px;
}

.single_home_new_title {
  color: black;
  font-size: 14px;
}

.single_home_new a {
  color: var(--primary);
  text-decoration: None;
}

.single_home_new_text {
  color: black;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
}

.single_new_videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.singe_new_pdfs {
  display: flex;
  flex-direction: column;
}

.singe_new_pdfs a {
  margin-bottom: 10px;
  cursor: pointer;
  color: #4d4d4d;
}

.single_new_video {
  margin-bottom: 10px;
  padding: 0 10px;
}

.single_new_video iframe {
  height: 280px;
  max-width: 350px;
}

.single_new_media_title {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: var(--font-stack);
}

@media only screen and (max-width: 450px) {
  .single_new_video iframe {
    height: auto;
    max-width: 100%;
  }
}

.next_button {
  width: 150px;
  margin-top: 20px !important;
  align-self: flex-end;
  cursor: pointer;
}

iframe {
  position: static !important;
  z-index: 0 !important;
}
