.container{
  height: 100%;
}

.heroImg {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.container div{
  height: 100% !important;
}

.container .slick-list{
  height: 100% !important;
}

.imgWrapper{
  position: relative;
  cursor: pointer;
}

.imgWrapper:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}
