.menuLink {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.nestedLink {
  color: #707070;
  text-decoration: none;
}

.nested {
  padding-left: 32px !important;
}

.flags {
  width: 75px;
  display: flex;
  justify-content: space-between;
}

.flags img {
  width: 20px;
  height: 15px;
  object-fit: contain;
  cursor: pointer;
}

.flags img:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 1260px) {
  .flags {
    margin-right: 12px;
  }
}

@media only screen and (max-width: 650px) {
  .flags {
    margin-right: 12px;
  }
}
