.searchModal {
  width: 90%;
  max-width: 693px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

@media only screen and (max-width: 763px) {
  .searchModal {
    align-items: flex-start;
    margin-top: 50%;
  }
}

.formWrapper {
  width: 100%;
  height: 350px;
  transition: 1s ease-in-out;
  position: relative;
}

.input {
  width: 100%;
  background: #fff;
  border-radius: 4px 4px 0 0;
}

.seperatorHeader {
  font-weight: 600;
  color: #2653ad;
  margin: 10px 0 10px !important;
}

.searchList {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  z-index: 2;
}

@media only screen and (max-width: 763px) {
  .searchList {
    padding: 5px;
  }
}

.searchItem {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  line-height: 20px;
}

.searchItem:hover {
  background-color: #ebeef0;
}

@media only screen and (max-width: 763px) {
  .searchList {
    line-height: 15px;
  }
}

.closeIcon span svg {
  color: #fff;
}

.closeIcon {
  position: absolute !important;
  right: -10px;
  top: -50px;
}

.moreButton {
  margin: 10px 0px 20px 10px !important;
}
