.container{
  padding: 40px 10%;
}

.container p{
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-stack);
  margin-bottom: 15px;
  line-height: 25px;
}

.container a{
  color: black;
}


@media only screen and (max-width: 400px) {
  .contacts{
    display: flex;
    flex-direction: column;
  }
}